<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">SCS</a>
    </div>

    <div class="navbar-default">
      <ul class="nav navbar-nav">
        <li><a style="cursor: pointer" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a style="cursor: pointer" routerLink="/instructions" routerLinkActive="active">Instructions</a></li>
        <li><a style="cursor: pointer" routerLink="/domain" routerLinkActive="active">Domain</a></li>
        <li><a style="cursor: pointer" routerLink="/code" routerLinkActive="active">Code</a></li>
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer" class="dropdown-toggle" role="button">Annotate <span class="caret"></span></a>
          <ul class="dropdown-menu" routerLink="/instructions/instructions" routerLinkActive="inactive">
            <li><a style="cursor: pointer" routerLink="/instructions/instructions" routerLinkActive="active">Annotation instructions</a></li>
            <app-annotations
              *ngFor="let [req] in domain.requirements"
            ></app-annotations>
            <!--<li><a href="#">Requirement 1</a></li>
            <li><a href="#">Requirement 2</a></li>-->
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="cursor: pointer" routerLink="/user">User</a></li>
      </ul>
    </div>
  </div>
</nav>
