<h2>Code</h2>
<p>
  <br>
  In This section you are to write the code in the environment provided under (ideone.com).
  <br>
  <br>
  Please note that all of the classes should be written at the same page one under the other. Furthermore, if you are to move to another page the code will not save. because of that the requirements are written (again) at the bottom of this page.
  <br>
  <br>
  When you finish writing the code please copy it to the text box below.
  <br>
</p>
<hr>
<iframe src="https://ideone.com/"
        width="100%" height="500" frameborder="0"
        allowfullscreen sandbox>
</iframe>
<hr>
<div class="row">
  <div class="col-md-12">
    <textarea name="textarea" cols="100" rows="25"></textarea>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNext()">Next</button>
  </div>
</div>
<!--TODO : connect the text area to the domain and add a submit button-->
