<div class="row">
  <div class="col-xs-12">
    <div class="h2">Your coding assignment - {{ domain.name }}</div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{ domain.description }}</p>
  </div>
</div>
<hr>
<app-requirements *ngFor="let req of requirements" [requirement]="req"></app-requirements>
<hr>
<div class="row">
  <div class="col-xs-12">
    Please program this domain and press next once you are done.
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNext()">Next</button>
  </div>
</div>
