<h2>Code</h2>
<p>
  After you finish writing the code paste it on the box below.
</p>
<hr>
<div class="row">
  <div class="col-md-12">
    <div class="form-group">
      <textarea class="form-control" [disabled]="!allowEdit" rows="20" [(ngModel)]="code"></textarea>
      <button class="btn" [disabled]="!allowEdit"(click)="onSave()">Save Code</button>
    </div>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNext()">Next</button>
  </div>
</div>