<h2>Code Annotation</h2>
<hr>
<div class="row" *ngIf="requirement_id == 0"><!-- TODO complete condition -->
  <div class="col-xs-12">
    In the following steps you are required to mark the place in ... for each requirement.
  </div>
</div>
<hr>
<div class="row" *ngIf="requirement_id != 0">
  <div class="col-xs-3 col-sm-2">
    <div class="list-group">
      <app-requirement *ngFor="let req of requirements; let i = index" [requirement_id]="req" [index]="i">
      </app-requirement>
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <router-outlet></router-outlet>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNext()">Next...</button>
  </div>
</div>
