<h2>Code Annotation</h2>
<hr>
<div class="row">

  <div class="col-md-6 text-xs-center">
    <p>
      In the following steps you are required to mark the place in ... for each requirement.
    </p>
    <p>
      <app-requirements *ngFor="let req of requirements" [requirement]="req"></app-requirements>
    </p>
  </div>

  <div class="col-md-6 text-xs-center">
    <h3>Your code:</h3>
    <p>{{this.a}}</p>
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onNext()">Next</button>
  </div>
</div>





