<h2>Code Annotation</h2>
<hr>
<div class="row">
  <div class="col-md-6 text-xs-center">
    <p *ngIf="rPositionInArray===0">
      In the following steps you are required to mark the place in ... for each requirement.
    </p>
    <div *ngIf="rPositionInArray>0" class="list-group">
        <div class="col-xs-2">
         {{ getRequirement().rid}}
       </div>
       <div class="col-xs-10">
         {{ getRequirement().description }}
       </div>
    </div>
  </div>

  <div *ngIf="rPositionInArray>0" class="col-md-6 text-xs-center">
    <h3>Your code:</h3>
    <pre class="prettyprint"
	    	[appAnnotator]="annotations"
  	  	[requirementId]="r_id"
    		(annotationAdded)="onAnnotationAdded($event)"
    		(annotationDeleted)="onAnnotationDeleted($event)"
	    	[text]="code"
    	></pre><!-- this line must stay as is or all annotations will be in an offset-->
  </div>

</div>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" (click)="onPrev()">Previous</button>
    <button class="btn btn-primary" (click)="onNext() && onSave()">Next</button>
    <!--<button class="btn" [disabled]="!changed" (click)="onSave()">Save Code</button>-->
  </div>
</div>
