<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">

          <div class="h2"> Please enter your BGU email</div>
      </div>
      <div class="row">
          <br>
          <input
            type="email"
	    name="email"
	    [(ngModel)]="email"
            placeholder="Enter your BGU email"
            class="txt">

      </div>
      <hr>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onLogin()">Login</button>
          <button class="btn" type="button" (click)="onRegister()">Register</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
	        <div *ngIf="succMsg && succMsg !== ''" class="alert alert-success">{{ succMsg }}</div>
	        <div *ngIf="errMsg && errMsg !== ''" class="alert alert-danger">{{ errMsg }}</div>
        </div>
      </div>
    </form>
  </div>
</div>
