<div class="row">
  <div class="h2">General instructions:</div>
</div>
<div class="row">
  <p>
    This is a study about aligning code with requirements.
    <br>
    <br>
    In the next tab ("user") you are to insert your BGU email account for identification purpose. Later in the "Domain" tab You will see a coding assignment which you will then have to write in an environment provided in the "Code" section. For your convenient you can use the navigation bar at the top of the screen.
    <br>
    <br>
    The language required for this assignment is Java.
    <br>
    <br>
    After submitting you will be asked some questions regarding the code.
    <br>
    <br>
    If you have any questions in any part during the study, please send an email to: Raneis@post.bgu.ac.il. Do not continue if you are not sure what to do.
    <br>
    <br>
    The data taken from participants not completing the task as written or using external help in order write the code will not be considered.
    <br>
  </p>
</div>
<div class="row">
  <button class="btn btn-primary" (click)="onNext()">Next</button>
</div>
