<div class="row">
  <div class="h2">General instructions</div>
</div>
<div class="row" id="content">
    <p>
    This is a study about writing and analyzing code.
    </p>
    <p>
    In the following tab you are to insert your BGU email account for identification purpose. Later in the "Domain" tab You will see a coding assignment which you will then have to write. For your convenient you can use the navigation bar at the top of the screen.
    </p>
    <p>
    The language required for this assignment is Java.
    </p>
    <p>
    After submitting you will be asked some questions regarding the code.
    </p>
    <p>
    The data taken from participants not completing the task as written or using external help in order write the code will not be considered.
    </p>
</div>
<hr>
<div class="row">
  <button class="btn btn-primary" (click)="onNext()">Next</button>
</div>
