<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <div class="h2"> Please enter your bgu e-mail</div>
          <input
            type="email"
            id="email"
            placeholder="Enter your bgu e-mail"
            class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit" (click)="onLogin()">Login</button>
        </div>
      </div>
    </form>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-primary" disabled="true" (click)="onNext()">Next</button>
  </div>
</div>
