<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand ">SCA</a>
    </div>

    <div class="navbar-inverse">
      <ul class="nav navbar-nav">
        <li><a style="cursor: pointer" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a></li>
        <li><a style="cursor: pointer" routerLink="/instructions" routerLinkActive="active">Instructions --></a></li>
        <li><a style="cursor: pointer" routerLink="/user">User --></a></li>
        <li *ngIf="user"><a style="cursor: pointer" routerLink="/domain" routerLinkActive="active">Domain --></a></li>
        <li *ngIf="user"><a style="cursor: pointer" routerLink="/code" routerLinkActive="active">Code --></a></li>
        <li *ngIf="user"><a style="cursor: pointer" [routerLink]="['/annotate', 0]" routerLinkActive="active">Annotation instructions</a></li>
      </ul>
      <!--<ul class="nav navbar-nav navbar-right">-->
        <!--<li><a style="cursor: pointer" routerLink="/user">User</a></li>-->
      <!--</ul>-->
    </div>
  </div>
</nav>

