<div class="row">
  <div class="col-xs-12">
    <div class="h2">Congratulations</div>
  </div>
</div>
<p>If you want, you can go back and Edit what did</p>
<div class="row">
  <a href="#" class="btn btn-primary a-btn-slide-text">
    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
    <span><strong>Edit</strong></span>
  </a>
</div>


<div class="row">
  <div class="h2"> What sources, if any, did you take from the internet? </div>
</div>
<div class="row" class="col-md-9">
  <br>
  <input
    type="source"
    name="source"
    [(ngModel)]="source"
    placeholder="Enter your Answer"
    class="txt">
</div>

<div class="row">
  <div class="h2"> How long did this take you to complete? </div>
</div>
<div class="row" class="col-md-9">
  <br>
  <input
    type="source"
    name="source"
    [(ngModel)]="source"
    placeholder="Enter your Answer"
    class="txt">
</div>

<div class="row">
  <div class="h2"> Which development environment did you use? </div>
</div>
<div class="row" class="col-md-9">
  <br>
  <select class="selectpicker">
    <option>Eclips</option>
    <option>NotePad ++</option>
    <option>Other</option>
  </select>
</div>

