  <div class="row">
    <div class="h2">Welcome to the SCA experiment</div>
  </div>
  <div class="row">
    <div class="div">
      <p>Thank you for participating in our experiment.</p>
      <p>The experiment is conducted by <a href="mailto:raneis@post.bgu.ac.il">Ran Eisenberg</a> and supervised by <a
        href="mailto:geraw@bgu.ac.il">Dr. Gera Weiss</a> and <a href="mailto:achiya@bgu.ac.il">Dr. Achiya Elyasaf</a>.
      </p>
      <p>Please contact Ran for any questions regarding the experiment.</p>
      <p>Click "Next" to view the instructions.</p>
    </div>
  </div>
<div class="row"><button class="btn btn-primary" (click)="onNext()">Next</button></div>

